/MobileGame/Intermediate
/MobileGame/.idea
/MobileGame/Saved
/MobileGame/Binaries
MobileGame/.vsconfig
/MobileGame/.vs
MobileGame/MobileGame.sln
/MobileGame/Plugins/CommonGameplayFramework/Binaries
/MobileGame/Plugins/CommonGameplayFramework/Intermediate/Build
/MobileGame/Plugins/ModularGameplayActors/Binaries
/MobileGame/Plugins/ModularGameplayActors/Intermediate
